input {
  display: block;
  padding: 10px;
  text-align: center;
  margin: auto;
  outline: none;
}

table#schedule {
  width: 90%;
  margin: 50px auto 0;
  text-align: left;
  border-collapse: collapse;

  th,
  td {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 10px 0;
    text-align: center;
  }

  .booked {
    background-color: #0d2c99;
    border-left: 1px solid rgb(228, 243, 255);
    border-right: 1px solid rgb(228, 243, 255);
    color: rgb(209, 209, 209);
  }
}
