* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: rgb(70, 70, 70);
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    margin-right: 30px;
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a:hover {
      text-decoration: underline;
    }
  }
}

hr {
  border-bottom: 1px solid rgb(209, 209, 209);
}
